* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
}

footer {
    width: 100vw;
    height: 100vh;
    background-image: url("./images/page5.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    text-align: center;
    color: white;
    max-width: 78%;
    margin: auto;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 7.5rem;
    margin-bottom: 5rem;
}

.social-link {
    font-size: 3rem;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-link:hover {
    color: #FFD700; 
    transform: scale(1.2);
}

.footer-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5rem;
    color: #FFD700; 
}

.footer-text {
    font-size: 1.4rem;
    line-height: 1.3;
    margin-bottom: 4rem;
}

.footer-divider {
    border: none;
    border-top: 1px solid #FFD700; 
    margin: 1.5rem 0;
}

.footer-copyright {
    font-size: 1rem;
    color: #CCCCCC; 
}


@media (max-width: 768px) {
    .footer-content {
        max-width: 90%;
    }
    
    .social-media {
        gap: 3rem; 
        margin-bottom: 3rem;
    }
    
    .social-link {
        font-size: 2.5rem; 
    }
    
    .footer-title {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
    
    .footer-text {
        font-size: 1.2rem;
        line-height: 1.4;
        margin-bottom: 1.5rem;
    }
}


@media (max-width: 576px) {
    footer {
        height: auto; 
        padding: 2rem 0;
    }
    
    .social-media {
        gap: 1.5rem; 
        margin-bottom: 3rem;
    }
    
    .social-link {
        font-size: 2rem; 
    }
    
    .footer-title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    
    .footer-text {
        font-size: 1rem;
        line-height: 1.3;
        margin-bottom: 1rem;
    }
    
    .footer-divider {
        margin: 1rem 0;
    }
    
    .footer-copyright {
        font-size: 0.9rem;
    }
}


@media (max-width: 375px) {
    .social-link {
        font-size: 1.8rem; 
    }
    
    .footer-title {
        font-size: 1.8rem;
    }
    
    .footer-text {
        font-size: 0.9rem;
    }
    
    .footer-copyright {
        font-size: 0.8rem;
    }
}
