@font-face {
  font-family: myFirstFont;
  src: url("../font/Faster Stroker.otf");
}


.dateInfo{
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
}
.dateInfo a{
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* font-size: 2vw; */
    color: yellow   ;
    text-decoration: none;
    font-family: myFirstFont;

}

.dateInfo .dateDays{
  color: #fde914;
  /* font-size: 2vw; */
  font-family: myFirstFont;
}

.dateInfo .dateGamesQuantity{
  color: #fde914;
  /* font-size: 2vw; */
  font-family: myFirstFont;
}

@media (min-width:900px)and (orientation: portrait){
  .dateInfo{
    font-size: 2vw;
  }
  .dateInfo a{
    font-size: 2vw;
  }
    
}