* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes backgroundChange {
  from{
   
    background-position: -50%, 150%;
  }
  to{
   
    background-position: 0%, 100%;
  }
}
@keyframes backgroundChangeRes {
  from {
    background-position: 200% 0%, 150% 100%; 
  }
  to {
    background-position: 0% 0%, 100% 100%;
  }
}

.heroPage {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hwb(0 0% 100% / 0.595);
  padding:0vw 1vw;
}

.heroPage::before {
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("https://res.cloudinary.com/dupeml4xm/image/upload/v1736310746/optimus_prime_niwfc9.png"),
    url("https://res.cloudinary.com/dupeml4xm/image/upload/v1736310205/megatron_fgrkir.png");
  background-repeat: no-repeat;
  background-position: left, right;
  background-size: auto 100%, auto 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: backgroundChange 1s linear 1 ;
}

.heroNavBar {
  width: 100%;
  height: 10%;
  display: flex;  
  align-items: center;
}
.heroRmageddonInfo {
  width: 100%;
  height: 60%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
}

.timeranddate {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}

.heroTimer {
  width: 28%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.037);
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  opacity: 0.9; */
}
.heroDateTimeInfo {
  width: 30%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: last baseline;
  align-items: last baseline;
  gap: 4vh;
  flex-direction: column;
  font-size: 1.5vw;
  background-color: rgba(0, 0, 0, 0.037);
}
.heroRNXG{
  display: none;
}
@media (max-width: 900px) {
  .heroPage {
    width: 100vw;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.673);
    /* z-index: -1; */
  }

  .heroPage::before {
    width: 100vw;
    height: 200vh;
    background-image: url("../images/optimus_prime.png"),
      url("../images/megatron.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    background-size: auto 100vh, auto 100vh;
    z-index: -1;
    
  animation: backgroundChangeRes 1s linear 1 ;
  }
  .heroNavBar {
    display: flex;
    justify-content: space-between;
    height: 5%;
   
  }

  .heroRmageddonInfo {
    width: 100%;
    height: 35%;
    display: flex;
    /* justify-content: space-between; */
  }
  .timeranddate {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .heroTimer {
    width: 100%;
    height: 50%;
  }
  .heroDateTimeInfo {
    width: 100%;
    height: 50%;
    font-size: 5vw;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  .heroRNXG{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: 100%;
    height: 40%;
  }
}
@media (max-width: 480px) {
  .heroNavBar {
    display: flex;
    justify-content: space-between;
    height: 5%;
  }
  .heroRmageddonInfo {
    width: 100%;
    height: 35%;
    display: flex;
  }
  .timeranddate {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .heroTimer {
    width: 100%;
    height: 60%;
  }
  .heroDateTimeInfo {
    width: 100%;
    height: 50%;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .heroDateTimeInfo {
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .heroDateTimeInfo {
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
  }
}

@media (min-width: 901px) and (orientation: portrait) {
  .heroPage {
    width: 100vw;
    height: 200vh;
    /* background-color: rgba(26, 26, 26, 0.849); */
    overflow: hidden;
  }

  .heroPage::before {
    width: 100vw;
    height: 200vh;
    background-image: url("../images/optimus_prime.png"),
      url("../images/megatron.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left top, left bottom;
    background-size: 100vw 100vh, 100vw 100vh;
    z-index: -1;
  }
  .heroNavBar {
    display: flex;
    justify-content: center;
    height: 5%;
  }

  .heroRmageddonInfo {
    width: 100%;
    height: 35%;
    display: flex;
  }
  .timeranddate {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 7vw;
  }
  .heroTimer {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-top: 0;
  }
  .heroDateTimeInfo {
    width: 100%;
    height: 50%;
    /* font-size: 4w; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heroRNXG{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: 100%;
    height: 40%;
  }
}
